.subscription__payment-item {
	padding: 18px 0;
}

.subscription__payment-item h2 {
	margin-bottom: 10px;
}

.subscription__payment-title {
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 5px;
}

.subscription__payment-input {
	background-color: transparent;
	padding: 0 10px;
	width: 300px;
	font-size: 24px;
	border: none;
	border-bottom: 1px solid #00000029;
	border-radius: 5px;
	outline: none;
	margin-bottom: 15px;
	text-align: center;
	transition: all .5s;
}

.submit-button {
	width: 295px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}