.subscription__item-name {
	padding: 115px 0;
}

.subscription__item-name h2 {
	margin-bottom: 35px;
}

.subscription__item-name input {
	margin-bottom: 30px;
}

.subscription__name-wrapper {
	display: flex;
}

.subscription__name-wrapper .name-button {
	height: 50px;
	margin-left: 10px;
}